.nav-link {
  padding: var(--bs-nav-tabs-link-padding)!important;
  font-size: var(--bs-nav-tabs-link-font-size)!important;
}

.ml-2 {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}

a {
  text-decoration: none!important;
}

.border-none {
  border: none!important;
}

.webkit-fill {
  width: -webkit-fill-available;
}