.bg-Red, .bg-Red-tl {
  background-color: $red!important;
  color: white!important;
}
.bg-Green, .bg-Green-tl {
  background-color: $green!important;
  color: white!important;
}
.bg-Blue, .bg-Blue-tl {
  background-color: $blue!important;
  color: white!important;
}
.bg-Purple, .bg-Purple-tl {
  background-color: $purple!important;
  color: white!important;
}
.bg-Red-Green {
  background: linear-gradient(to right,
    $red,$red,$red,
    $green,$green,$green,
  );
  color: white!important;
}
.bg-Red-Green-tl {
  background: linear-gradient(to top left,
    $green 50%,
    $red 50%
  );
  color: white!important;
}
.bg-Blue-Purple {
  background: linear-gradient(to right,
    $blue,$blue,$blue,
    $purple,$purple,$purple,
  );
  color: white!important;
}
.bg-Blue-Purple-tl {
  background: linear-gradient(to top left,
    $purple 50%,
    $blue 50%
  );
  color: white!important;
}
.bg-dblue {
  background-color: $dblue!important;
  color: white!important;
}
.bg-dblue-t {
  background-color: rgba($dblue, 0.7)!important;
  color: white!important;
}
.bg-Gray {
  background-color: $gray!important;
  color: white!important;
  border: 0.1rem solid $dblue;
  -webkit-box-shadow: inset 0 0 15px #2c364a;
  -moz-box-shadow: inset 0 0 15px #2c364a;
  box-shadow: inset 0 0 15px #2c364a;
}
.bg-Gray-t {
  background-color: rgba($gray, 0.8)!important;
  color: white!important;
  border: 0.1rem solid $dblue;
  -webkit-box-shadow: inset 0 0 15px #2c364a;
  -moz-box-shadow: inset 0 0 15px #2c364a;
  box-shadow: inset 0 0 15px #2c364a;
}
.bg-Light {
  background-color: $light!important;
}
.bg-Light-t {
  background-color: rgba($light, 0.7)!important;
}
.bg-black{
  background-color: black!important;
}

.bg-Strike {
  background-color: $strike!important;
  color: white!important;
}
.bg-Ranged {
  background-color: $ranged!important;
  color: white!important;
}
.bg-Special {
  background-color: $special!important;
  color: white!important;
}
.bg-Wisdom {
  background-color: $wisdom!important;
  color: white!important;
}
.bg-Slash {
  background-color: $slash!important;
  color: white!important;
}

.bg-event {
  background-color: #ad9358!important;
}

.border-Red {
  border-color: $red!important;
}
.border-Green {
  border-color: $green!important;
}
.border-Blue {
  border-color: $blue!important;
}
.border-Purple {
  border-color: $purple!important;
}

.color-Red {
  color: $red!important;
}
.color-Green {
  color: $green!important;
}
.color-Blue {
  color: $blue!important;
}
.color-Purple {
  color: $purple!important;
}
.color-light {
  color: $light!important;
}