.cd__bg {
  border-radius: 0.5rem;
}

.cd__added-card {
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid black;
}

.cd_button {
  background-color: rgba($highlight, 0.8)!important;
  border-radius: 0.3rem!important;
  border: none!important;
}

.cd__added-card__tr {
  border: solid 1px $dblue;
}

.cd__search-container {
  max-width: fit-content!important;
  min-width: 100%;
}

.Leader-tr{
  font-size: 1.2rem!important;
}

.save-deck-bg {
  background-color: rgba(black,0.7);
  border-radius: 0.3rem;
}

.gallery_add_circle {
  background-color: $dblue;
  border: 0.1rem solid $gray;
  border-radius: 10rem;
}