.cd__bg {
  border-radius: 0.5rem;
  position: fixed;
  width: 29%;
  margin-left: 1%;
}

.cd__search-bg {
  width: 69%;
  margin-left: 30%;
  margin-right: 1%;
}

.cd__added-card {
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid black;
}

.cd_button {
  background-color: rgba($highlight, 0.8)!important;
  border-radius: 0.3rem!important;
  border: none!important;
}

.cd__added-card__tr {
  border: solid 1px $dblue;
}

.cd__search-container {
  max-width: fit-content!important;
  min-width: 100%;
}

.Leader-tr{
  font-size: 1.2rem!important;
}

.save-deck-bg {
  background-color: rgba(black,0.7);
  border-radius: 0.3rem;
}

.gallery_add_circle {
  background-color: rgba($light, 0.9);
  border: 0.1rem solid rgba($gray,0.8);
  border-radius: 10rem;
  z-index: 1;
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.23rem;
  font-weight: 900;
}

.gac__plus {
  margin-left: 4.50rem;
  margin-top: 0.10rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: lighten($green, 60);
}
.gac__count {
  margin-left: 2.30rem;
  margin-top: 0.10rem;
}
.gac__minus {
  margin-left: 0.10rem;
  margin-top: 0.10rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: lighten($red, 35);
}

.confirm_modal {
  --bs-modal-bg: rgba($dblue, 0.7)!important;
  --bs-modal-border-width: 0!important;
  font-family: 'Oswald', sans-serif!important;
  color: white!important;
  --bs-modal-width: 760px!important;
}

.import-select_txt {
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.import-select {
  background: rgba($gray,0.8);
  border: solid 0.1rem $dblue;  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 200ms;
  cursor: pointer;
}

.import-select-active {
  background: rgba($gray,0.8);
  border: solid 0.1rem $highlight;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 200ms;
}

.import-select:hover {
  background: lighten($gray,6);
}


.import-select-ex {
  color: gray;
  font-size: 0.8rem;
}

.deck_list_i__bg {
  background-position: center;
  background-size: cover;
  margin: 0.2rem;
  position: relative;
  min-height: 150px;
  border-radius: 0.25rem;
}

.deck_list_i__h {
  bottom: 0;
  margin-left: 0.25rem;
  color: white!important;
  font-size: 1.4rem;
}

.deck_list_i__img {
  width: -webkit-fill-available;
  border-radius: 0.25rem;
  bottom: 0;
}

.deck_list_i__gradient {
  background:  linear-gradient(rgba(black, 0), rgba(black, 0.8),rgba(black, 0.8),rgba(black, 0.8));
  position: absolute;
  padding-top: 0.6rem;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 0 0.25rem 0.25rem;
}

.deck_list_i__desc {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.deck_list_i__desc_bg {
  background-color: rgba(black,0.8);
  color: white!important;
  display: flex;
  justify-content: end;
}

.cost-chart {
  width: 300px!important;
}

.custom-label__txt {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.deck__img-leader {
  padding: 0.2rem;
  transition: 400ms;
  font-size: 1.4rem;
}

.deck__img-leader:hover {
  transform: scale(1.02,1.02);
  transition: 400ms;
}