.nav-main {
  background-color: $gray;
  display: flex;
  position: fixed!important;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  padding: 0rem!important;
  z-index: 5;
}

.nav-link {
  color: white!important;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem!important;
  padding: 0.4rem 0.6rem!important;
}

.nav-link:hover {
  background-color: lighten($gray, 10%);
}

.card__set_box {
  font-size: 1rem!important;
  text-transform: uppercase;
  background-color: black;
  text-align: left;
  padding:0 0.6rem;
  font-weight: 900;
  z-index: 1;
  position: absolute;
  transition: 150ms;
}

.card__set_box:hover {
  background-color: lighten(black, 10%);
  transition: 150ms;
}