.toolbarClassName {
  color:black!important;
}

.editorClassName {
  background-color: #0E1528;
  min-height: 300px;
  padding: 0.25rem;
}

.news-card-img {
  width: fit-content;
}

.Selector {
  color: black!important;
}