.set__img {
  width: 50%;
  padding: 0.1rem;
  transition: 400ms;
  @media only screen and (min-width: $lg) {
    width: 20%;
    padding: 0.1rem;
  }
}

.set__img:hover {
  transform: scale(1.02,1.02);
  transition: 400ms;
}

.set-list_img {
  width: -webkit-fill-available;
  transition: 400ms;
  margin-top: 1rem;
  border-radius: 0.2rem;
}

.set-list_img:hover {
  transform: scale(1.02,1.02);
  transition: 400ms;
}

.set-list__txt {
  color: white!important;
  margin-bottom: 0rem!important;
}

.set__bg {
  border-radius: 0.5rem;
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
  margin: 0.25rem;
}

.set__bg-overlay {
  background-color: rgba(#000000,0.4);
  margin: 0;
  padding: 0.25rem;
}

.set__title {
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem #000000;
  @media only screen and (min-width: $lg) {
    font-size: 3.5rem;
    margin-left: 0.5rem;
  }
}

.set__table {
  color: white!important;
  width: 100%;
  border-radius: 1rem;
}

.set__table tr{
  border: 0.1rem solid $light;
}
.set__table tr:hover{
  background-color: lighten($gray, 5%);
}
.set__table td{
  padding: 0.25rem;
}
.set__table:hover {
  color: white!important;
}

.th_n{
  width: 20%;
  text-align: center;
  @media only screen and (min-width: $lg) {
    width: 6%;
  }
}

.th_rarity{
  width: 2%;
  text-align: center;
  background-color: #efefef;
  color: black;
  font-weight: bold;
}

.th_title{
  font-size: 1.2rem;
  color: white;
  margin-left: 0.5rem;
}

.th_type{
  text-align: center;
  width: 10%;
}

.th-border{
  border: 0.1rem solid $light!important;
}

.set__view-btn {
  font-size: 1.6rem!important;
  border: 0.1rem solid $dblue!important;
  margin: 0.2rem;
  width: 49.5%;
  background-color: $dblue!important;
}

.set__view-btn:hover {
  background-color: $gray!important;
}

.view-btn-active {
  background-color: $gray!important;
}

.md-only-table {
  display: none;
  @media only screen and (min-width: $lg) {
    display: table-cell;
  }
}

.set__card-img {
  width: -webkit-fill-available;
  border-radius: 0.6rem;
  @media only screen and (min-width: $lg) {
    border-radius: 1rem;
  }
}


.set__g_bg {
  background-color: rgba(#000000, 0.7);
  border-radius: 0.6rem;
  padding: 0.25rem;
  color: white;
  text-align: center;
}

.set__g-bg-color {
  border-radius: 0.6rem;
  background-color: rgba(black,0);
}

.set__g-bg-color:hover {
  border-radius: 0.6rem;
  background-color: inherit;
}