@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$beige: #928157;
// #181431
$red: #BE171A;
$green: #007A59;
$blue: #2D77B5;
$purple: #893376;

$strike: #C89F1B;
$ranged: #D0444A;
$special: #823C7C;
$wisdom: #359860;
$slash: #1C7FAC;


$dblue: #151F34;
$gray: #1C2A45;
$light: #2b416b;
$highlight: #DC3545;